@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root {
    --primary-pink: #ff00bf;
    --primary-turquoise: #00fffd;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-yellow: #ffff00; 
    }

body{
    /* background-color: lightgray; */
    /* background-image: url("../Components/Images/sparkleBackground.jpg"); */
    background-size: cover;
    background-position: center;
    /* background-color: whitesmoke; */
    /* height: auto; */
}

/*********BLOG************/
.blog-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem;
}

.blog {
    font-family: "Clicker Script";
    text-align: center;
    /* margin: 1rem;
    height: 15rem;
    width: auto; */
    padding: 3rem;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    background-color: white;
    border-radius: .625rem;
    border: solid .3rem rgb(218, 218, 3);
    padding: 1rem 1rem 1rem 1rem;
    box-shadow:.625rem .625rem .3125rem rgb(148, 147, 147);
}

.blog:hover{
    transform: scale(1.07);
}

.blog > h1 > a {
    color: var(--primary-pink);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
}

.blog > h1 > a:hover {
    text-decoration: none;
    color: rgb(158, 20, 147);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
}

.blog > img {
    width: 50rem;
    height: auto;
    padding-bottom: 2rem;
}
    
.blog-wrapper{
        align-content: center;
        margin: 3rem;
}

/*********RESUME************/
.resume-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resume-page{
    /* padding: 3rem;
    padding-right: 20rem;
    padding-left: 20rem; */
    margin-right: 20rem;
    margin-left: 20rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: .625rem;
    box-shadow: 0.625rem 0.625rem 0.3125rem rgb(117, 117, 117);
    border: solid .07rem rgb(85, 85, 85);
}

/********PORTFOLIO PAGE*******/
.project-info-wrapper{
    /* margin-top: 10rem;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem;
}

.project-card {
    font-family: "Clicker Script";
    text-align: center;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: white;
    border-radius: .625rem;
    border: solid .3rem rgb(48, 173, 161);
    padding: 1rem 1rem 1rem 1rem;
    box-shadow:.625rem .625rem .3125rem rgb(148, 147, 147);
}

.project-card:hover{
    transform: scale(1.07);
}

.project-card > h1 {
    color: var(--primary-pink);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
    
}

.project-card > h3 > a {
    color: var(--primary-pink);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
}

.project-card > h3 > a:hover {
    text-decoration: none;
    color: rgb(158, 20, 147);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
}

.project-card > img {
    width: 30rem;
    height: auto;
    padding-bottom: 2rem;
    /* border-color: black;
    border: 1rem; */
}
    
/********ARTWORK PAGE******/
.cake-timeline-div > h2 {
    color: black;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
    font-family: "Clicker Script";
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.cake-timeline-div > p {
    color: black;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.0375rem;
    font-family: "Clicker Script";
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.cake-icon{
    background-color: turquoise;
    font-size: 2rem;
}

.icon{
    width: 3rem;
    height: auto;
    font-weight: 600;
}

.timeline-pic{
    width: 15rem;
    height: auto;
}

.timeline-card{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.vertical-timeline-element-content{
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5) !important;
}

.other-art-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;
    margin-right:15rem;
    margin-left: 15rem;
}

.artpiece{
    text-align: center;
    width: 28rem;
    height: 37rem;
    background-color: rgb(31, 30, 30);
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: auto;
    border-radius: .625rem;
}

.artpiece > img {
    width: 20rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: .625rem;
    box-shadow:.625rem .625rem .3125rem rgb(148, 147, 147);
}

/********CONTACT PAGE***********/
.contact-page-div{
    text-align: center;
}

.contact-title{
    margin-top: 2rem;
    font-size: 5rem;
}

.btn-info {
    margin-bottom: 7rem;
    height: 3rem;
    width: 8rem;
    border-radius: .7rem;
}

.form-group{
    width: 20rem;
}