@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root {
  --primary-pink: #ff00bf;
  --primary-turquoise: #00fffd;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-yellow: #ffff00; 
}
/*************NAVBAR***************/


.navbar-brand{
  position: relative;
  left: -18rem;
}

.logo{
  width: 30rem;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 5rem;
    left: 0;
  }
  .logo{
    width: 16rem;
    height: 7rem;
  }
}

/*---------MENU LINKS--------*/
nav a.nav-link{
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-family: "Clicker Script";
  margin: 0.525rem;
}

.navbar-nav{
  position: relative;
  align-content: right;
}

.navbar-nav > li > a {
  color: var(--primary-pink) !important;
  border-top: .1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: .1875rem solid var(--primary-turquoise);
}

.navbar-nav > li > a.hover, .navbar-nav > li > a:hover {
  border-top: .1875rem solid var(--primary-turquoise);
}

@media(max-width: 768px){
  .navbar-nav > li > a{
    font-size: 1.75rem !important; 
  }
}
/*************HEADER***************/

.home-page{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  background-image: url("./Components/Images/background-image1.jpeg");
  background-color: cover;
  background-position: center;
  height: auto;
}

.main-info{
  display: flex;
  /* position: absolute; */
  top: -50rem;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Clicker Script";

}

.main-info h1 {
  color: var(--primary-pink);
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  margin: 1rem;
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 2rem !important;
  }
  .typed-text{
    font-size: 1.75rem !important;
  }
}

/*************TYPED TEXT***************/

.typed-text{
  color: var(--primary-pink);
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
}


/*************HEADER MAIN OFFERING BUTTON***************/
.button-main-offering{
  font-family: "Clicker Script";
  border: 1px solid var(--primary-yellow);
  border-radius: 0;
  padding: 0.625rem 0.75rem 1.5rem 0.75rem;
  color: var(--primary-turquoise);
  background-color: rgb(148, 147, 147);
  margin-bottom: 20rem;
  font-size: 2rem;
  font-weight: 350;
}

.button-main-offering:hover{
  color: var(--primary-yellow);
  text-decoration: none;
  background-color: darkgray;
  transition: .2s ease-in-out;
}


/*************SLIDER CSS***************/
.image-slider{
  /* height: 40rem;
  width: 100%; */
  padding: 3rem;
  position: relative;
  bottom: 0;
  /* background-color: darkkhaki; */
}

.image-slider > h1 {
  color: var(--primary-pink);
  font-family: "Clicker Script";
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  text-align: center;
}
.slider{
  position: relative;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  height: 32rem;
  width: auto;
  border-radius: .625rem;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2rem;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/*************PORTFOLIO SECTION***************/
.portfolio-highlights > h1{
  color: var(--primary-pink);
  font-family: "Clicker Script";
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  text-align: center;
}

.portfolio-highlights > p{
  color: var(--primary-pink);
  font-family: "Clicker Script";
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  text-align: center;
}
/*************FOOTER***************/

/* .App{
  display: flex;
  flex-direction: column;
} */

hr{
  background-color: white;
}

.main-footer{
  /* position: fixed; */
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(73, 73, 73);
  padding-top: 1.5rem;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

/* .footer-container{
  justify-content: center;
} */

.content-wrap{
  flex:1;
}

.column{
  padding-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.row{
  justify-content: center;
}