@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

:root {
  --primary-pink: #ff00bf;
  --primary-turquoise: #00fffd;
  --primary-dark: rgba(255, 255, 255, 0);
}
/*************NAVBAR***************/
.navbar-brand{
  position: relative;
  left: -20rem;
}

.logo{
  width: 30rem;
}


/*---------MENU LINKS--------*/
nav a.nav-link{
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-family: "Clicker Script";
  margin: 0.525rem;
}

.navbar-nav{
  position: relative;
  align-content: right;
}

.navbar-nav > li > a {
  color: var(--primary-pink) !important;
  border-top: .1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: .1875rem solid var(--primary-turquoise);
}

.navbar-nav > li > a.hover, .navbar-nav > li > a:hover {
  border-top: .1875rem solid var(--primary-turquoise);
}